@font-face {
  font-family: 'X-Concourse';
  src: url('./Concourse T6 Regular.woff') format('woff');
}

@font-face {
  font-family: 'X-Concourse C';
  src: url('./Concourse C6 Regular.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'X-Concourse';
  font-size: 54px;
}

@media(max-width: 800px) {
  html, body {
    background-color: #efefef;
  }
}

body {
  text-align: center;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: "X-Concourse";
  font-weight: normal;
}

p.slogan {
  font-family: "X-Concourse C";
  text-transform: lowercase;
  text-align: justify;
  text-align-last: justify;
  margin: 14px 0 0 0;
  line-height: 46px;
}

p.slogan:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 1px;
}

article {
  width: 690px;
  padding: 36px;
  z-index: 2;
  margin: 0 auto;
  position: relative;
}

article > ul {
  list-style-type: none;
  width: 100%;
  text-align: justify;
  text-transform: uppercase;
  font-size: 40%;
  margin: 0;
  padding: 0;
  font-family: "X-Concourse C";
}

article > ul > li {
  display: inline;
}

article > ul > li:before {
  content: ' ∙ ';
}

article > ul > li:first-child:before {
  content: none;
}

article > ul > li:last-child:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}

article.text p {
  font-size: 24px;
  text-align: left;
}

article.text p a {
  font-style: italic;
}

article.text p a:hover {
  color: #8A0707;
}

footer {
  border-top: 1px solid black;
  text-align: right;
  font-size: 30%;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline;
}

footer ul li:before {
  content: '∙ ';
}

footer ul li:first-child:before {
  content: none;
}

#background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: justify;
  font-size: 50%;
  overflow: hidden;
  font-family: "X-Concourse C";
  text-transform: lowercase;
  color: #ededed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#background span {
  padding: 0 1ex 0 0 ;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #8A0707;
}

address {
  font-style: normal;
}

hr {
  margin: 0.5ex 0;
}
