<!doctype html>
<!-- You sneaky devil! Well ... go ahead ... have a look around ... -->
<html lang=en>
  <head>
    <meta charset=utf-8>

    <!-- Who needs Bootstrap with one column? -->
    <meta name=viewport content=width=800>

    <title>{{page.title}}</title>

    <link rel=icon href=/favicon.ico>

    <!-- No, I haven't minimified them. 12K total without fonts, last I checked. -->
    <link href=normalize.css rel=stylesheet type=text/css>
    <link href=styles.css rel=stylesheet type=text/css>
  </head>
  <body>
