<!doctype html>
<!-- You sneaky devil! Well ... go ahead ... have a look around ... -->
<html xmlns='http://www.w3.org/1999/xhtml' lang='en' xml:lang='en'>
  <head>
    <meta charset='UTF-8'/>

    <!-- Who needs Bootstrap with one column? -->
    <meta name='viewport' content='width=800'/>

    <title>{{page.title}}</title>

    <!-- No, I haven't minimified them. 12K total, last I checked. -->
    <link href='normalize.css' rel='stylesheet' type='text/css'/>
    <link href='styles.css' rel='stylesheet' type='text/css'/>
  </head>
  <body>
